/********************
	 common.css
	ver1.0
	2023.03.27
	임수경

********************/
@charset "UTF-8";
@import "reset.css";

@font-face {
	font-family:'ProximaNova';
	src: url(../font/ProximaNova-Bold.eot);
	src: url(../font/ProximaNova-Bold.eot?#iefix) format('embedded-opentype'),
			 url(../font/ProximaNova-Bold.woff) format('woff'),
			 url(../font/ProximaNova-Bold.ttf) format('truetype');
			 /*unicode-range: U+0041-005A, U+0061-007A, U+0030-0039;*/
}
@font-face {
	font-family:'ProximaNovaR';
	src: url(../font/ProximaNova-Regular.eot);
	src: url(../font/ProximaNova-Regular.eot?#iefix) format('embedded-opentype'),
			 url(../font/ProximaNova-Regular.woff) format('woff'),
			 url(../font/ProximaNova-Regular.ttf) format('truetype');
}
@font-face {
	font-family:'AppleSDGothicNeo';
	src: url(../font/AppleSDGothicNeoUL.eot);
	src: url(../font/AppleSDGothicNeoUL.eot?#iefix) format('embedded-opentype'),
			 url(../font/AppleSDGothicNeoUL.woff) format('woff'),
			 url(../font/AppleSDGothicNeoUL.ttf) format('truetype');
  font-weight:200;
}
@font-face {
	font-family:'AppleSDGothicNeo';
	src: url(../font/AppleSDGothicNeoR.eot);
	src: url(../font/AppleSDGothicNeoR.eot?#iefix) format('embedded-opentype'),
			 url(../font/AppleSDGothicNeoR.woff) format('woff'),
			 url(../font/AppleSDGothicNeoR.ttf) format('truetype');
  font-weight:400;
}
@font-face {
	font-family:'AppleSDGothicNeo';
	src: url(../font/AppleSDGothicNeoM.eot);
	src: url(../font/AppleSDGothicNeoM.eot?#iefix) format('embedded-opentype'),
			 url(../font/AppleSDGothicNeoM.woff) format('woff'),
			 url(../font/AppleSDGothicNeoM.ttf) format('truetype');
  font-weight:500;
}
@font-face {
	font-family:'AppleSDGothicNeo';
	src: url(../font/AppleSDGothicNeoB.eot);
	src: url(../font/AppleSDGothicNeoB.eot?#iefix) format('embedded-opentype'),
			 url(../font/AppleSDGothicNeoB.woff) format('woff'),
			 url(../font/AppleSDGothicNeoB.ttf) format('truetype');
  font-weight:700;
}
@font-face {
	font-family:'AppleSDGothicNeo';
	src: url(../font/AppleSDGothicNeoEB.eot);
	src: url(../font/AppleSDGothicNeoEB.eot?#iefix) format('embedded-opentype'),
			 url(../font/AppleSDGothicNeoEB.woff) format('woff'),
			 url(../font/AppleSDGothicNeoEB.ttf) format('truetype');
  font-weight:800;
}

/* common */
html {overflow-y: auto; overflow-x: auto;letter-spacing:-0.5px;background:#ddd;font-family:'AppleSDGothicNeo',sans-serif;color:#000;font-size:10px;}
body {color:#000;}
html.is-opened {overflow:hidden;}
html.open-login {overflow:hidden;}
html.open-pc-layer {overflow:hidden;}
img {max-width:100%;}
input[type=text], input[type=email], input[type=password], input[type=search] {height:48px;border:1px solid #dfdfdf;border-radius:8px;box-sizing:border-box;color:#272727;}
label:hover {cursor:pointer;}
input::-webkit-input-placeholder {font-size:1.3rem; }
input:-ms-input-placeholder {font-size:1.3rem; }
input::-ms-input-placeholder {font-size:1.3rem; }
input::placeholder {font-size:1.3rem;}
.blind {font-size:0;line-height:0;width:0;height:0;opacity:0;}
.clear:after {content:"";display:block;clear:both;}
.nova {font-family:'ProximaNovaR';letter-spacing:0;}
.swiper-slide {-webkit-backface-visibility: hidden;-webkit-transform: translate3d(0, 0, 0);}
.swiper-pagination-bullet {transition: .3s all;}
.swiper-button-next:after,
.swiper-button-prev:after {display:none;}
.container {position:relative;width:100%;}
.pc-only {}
.mo-only {display:none !important;}
.btn-area-center {text-align:center;}
.btn-type1 {display:inline-block;width:auto;text-align:center;padding:0;text-align:center;background:#FF5702;border-radius:8px;font-size:1.4rem;line-height:4.3rem;font-weight:800;color:#fff;}
.btn-type1.btn-act,
.btn-type1.btn-share {width:68%;box-sizing:border-box;}
.btn-type1.btn-act:before {content:"";display:inline-block;width:2rem;height:2rem;margin-right:4px;vertical-align:sub;background:url(../images/icon_act.svg) 0 0 no-repeat;background-size:2rem;}
.btn-type1.btn-share:before {content:"";display:inline-block;width:2rem;height:2rem;margin-right:4px;vertical-align:sub;background:url(../images/icon_share.svg) 0 0 no-repeat;background-size:2rem;}
.btn-type2 {}
.btn-type3 {}
.btn-type4 {display:inline-block;background:#FF5702;font-weight:800;line-height:50px;color:#fff;text-align:center;font-size:1.4rem;padding:0;width:65%;text-align:center;border-radius:4px;}
.btn-type4.type-m {width:100px;}
.btn-disabled {background:#cfd3d9 !important;color:#fff !important;}
.wrap {width:100%;max-width:750px;margin:0 auto;background:#fff;}
.inner {padding:0 4%;overflow:hidden;}
.kv {padding-bottom:18.9333%;}
.kv h1 {padding:0 0 24% 0;}
.kv h1 img {width:48%;opacity:1;display:none;}
.kv h2 {text-align:right;font-size:5rem;line-height:5rem;font-family:'ProximaNova';opacity:0;transform:translateY(30px);transition:all 0.5s ease-in-out;}
.kv .date {text-align:right;padding-right:4%;margin-bottom:20%;opacity:0;transform:translateY(30px);transition:all 0.5s 0.2s ease-in-out;}
.kv .date strong {font-size:1.5rem;font-family:'ProximaNova';line-height:2.1rem;display:block;padding:10% 0 1.1594% 0;}
.kv .date strong span {font-size:2.1rem;vertical-align:bottom;}
.kv .date div {font-family:'AppleSDGothicNeo';font-size:1.6rem;line-height:1.6rem;font-weight:200;}
.kv.active h2 {transform:translateY(0);opacity:1;}
.kv.active .date {transform:translateY(0);opacity:1;}
.kv .mv {position:relative;text-align:left;}
.kv .mv:after {content:"";display:block;clear:both;}
.kv .mv>img {display:block;width:100%;}
.kv .mv>div {position:relative;}
.kv .mv>div dl {position:absolute;top:50%;left:7.3333%;transform:translateY(-50%);color:#fff;width:84%;}
.kv .mv>div dl dt {font-size:2.2rem;font-weight:800;line-height:2.7rem;opacity:0;transform:translateY(30px);transition:all 0.5s ease-in-out;}
.kv .mv>div dl dd {margin-top:1.5rem;font-size:1.4rem;line-height:2rem;opacity:0;transform:translateY(30px);transition:all 0.5s 0.2s ease-in-out;}
.kv.active .mv>div dl dt,
.kv.active .mv>div dl dd {transform:translateY(0);opacity:1;}
.kv .btn-area-mv {margin:2.6666% auto 0 auto;text-align:right;padding:0 4%;}
.kv .btn-area-mv a {display:inline-block;width:43%;}

/* activity */
.ev-activity ul li {float:left;width:48.3%;opacity:0;transform:translateY(30px);}
.ev-activity ul li:first-child {transition:all 0.5s ease-in-out;}
.ev-activity ul li:nth-child(2) {transition:all 0.5s 0.1s ease-in-out;}
.ev-activity ul li:nth-child(3) {transition:all 0.5s 0.2s ease-in-out;}
.ev-activity ul li:nth-child(4) {transition:all 0.5s 0.3s ease-in-out;}
.ev-activity.active ul li {transform:translateY(0);opacity:1;}
.ev-activity ul li:nth-child(even) {margin-left:3.4%;}
.ev-activity ul li:nth-child(3),
.ev-activity ul li:nth-child(4) {margin-top:3.4%;}
.ev-activity ul li dl {padding:4.0579% 6%;background:#eae9e4;height:66.6666%;padding-top:6%;box-sizing:border-box;}
.ev-activity ul li dl dt {font-size:1.8rem;line-height:2rem;font-weight:700;font-family:"ProximaNova";}
.ev-activity ul li dl dt div {margin-top:0;font-size:1.9rem;line-height:2.1rem;font-weight:700;/*text-shadow:-1px -1px 0 #c8005d, 1px -1px 0 #c8005d, -1px 1px 0 #c8005d, 1px 1px 0 #c8005d;*/}
.ev-activity ul li:first-child dl dt div {color:#FF5702;}
.ev-activity ul li:nth-child(2) dl dt div {color:#002FA2;}
.ev-activity ul li:nth-child(3) dl dt div {color:#008083;}
.ev-activity ul li:nth-child(4) dl dt div {color:#C8005D;}
.ev-activity ul li dl dd {padding:9px 0 4% 0;font-size:1.2rem;line-height:1.6rem;}
.ev-activity ul li dl dd div {font-size:1rem;line-height:1.2rem;color:#727272;margin-top:5px;letter-spacing:-0.5px;}
.ev-activity ul li dl dd:after {content:".";display:block;color:transparent;font-size:1rem;line-height:1.2rem;margin-top:5px;}
.ev-activity ul li:nth-child(2) dl dd:after,
.ev-activity ul li:nth-child(4) dl dd:after {display:none;}
.ev-banner2 {margin:21.6% 0 0 0;background:#000;text-align:center;}
.ev-banner2 .inner {position:relative;padding:10% 0;}
.ev-banner2 .inner .cont {color:#fff;z-index:1;text-align:center;position:relative;left:0;top:0;opacity:0;transform:translateY(30px);transition:all 0.5s ease-in-out;}
.ev-banner2.active .inner .cont {opacity:1;transform:translateY(0);}
.ev-banner2 .inner .cont h4 {font-size:1.8rem;line-height:2.5rem;font-weight:800;}
.ev-banner2 .inner .cont h4 span {color:#FF5702;}
.ev-banner2 .inner .cont p {font-size:1.2rem;font-weight:400;letter-spacing:0;line-height:1.6rem;margin:1.2% 0 2.8% 0;}
.ev-banner2 .inner .cont div {font-size:1.3rem;font-weight:700;letter-spacing:0;line-height:1.7rem;text-decoration:underline;color:#F1E308;}
.ev-banner2 .inner img {}
.img-banner .inner {position:relative;}
.img-banner .cont {position:absolute;left:0;opacity:0;transform:translateY(30px);transition:all 0.5s ease-in-out;z-index:1;}
.img-banner .cont h3 {font-family:"ProximaNova";font-size:3.2rem;line-height:3.3rem;}
.img-banner .cont p {font-size:1.3rem;line-height:1.8rem;margin-top:1rem;}
.img-banner .cont p img {width:29.7333vw;display:block;margin-top:0.6rem;}
.img-banner.active .cont {opacity:1;transform:translateY(0);}
.activity-area {}
.activity-area .inner>dl {padding:24.6376% 0 0 0;}
.activity-area .inner>dl>dt {font-size:3.2rem;line-height:3rem;font-weight:700;margin-bottom:8.8%;text-align:center;font-family:"ProximaNova";}
.activity-area .inner>dl>dt div {font-size:1.4rem;line-height:1.9rem;font-weight:500;font-family:'AppleSDGothicNeo';margin-top:4%;}
.activity-area .inner>dl>dt span {color:#fff;display:block;font-weight:800;}
.activity-area .inner>dl.look>dt span {color:#FF5702;}
.activity-area .inner>dl.feel>dt span {color:#002FA2;}
.activity-area .inner>dl.live>dt span {color:#008083;}
.activity-area .inner>dl>dd {}
.activity-area .inner>dl>dd ul li {background:#EAE9E4;opacity:0;transform:translateY(30px);}
.activity-area .inner>dl>dd ul li.yo {transition:all 0.5s ease-in-out;}
.activity-area .inner>dl>dd ul li.ta {transition:all 0.5s 0.2s ease-in-out;}
.activity-area .inner>dl.look.active>dd ul li {transform:translateY(0);opacity:1;}
.activity-area .inner>dl>dd ul li>div {box-sizing:border-box;}
.activity-area .inner>dl>dd ul li+li {margin-top:5.7971%;}
.activity-area .inner>dl>dd ul li .img {position:relative;}
.activity-area .inner>dl>dd ul li .img .balloon {position:absolute;opacity:0;transform:translateY(30px);display:none;}
.activity-area .inner>dl>dd ul li.yo .img .balloon {transition:all 0.5s 0.3s ease-in-out;}
.activity-area .inner>dl>dd ul li.ta .img .balloon {transition:all 0.5s 0.5s ease-in-out;}
.activity-area .inner>dl>dd ul li.yo .img .balloon {width:20%;top:5%;left:28.5%;}
.activity-area .inner>dl>dd ul li.ta .img .balloon {width:23.5%;top:5%;left:45.6%;}
.activity-area .inner>dl.look.active>dd ul li .img .balloon {transform:translateY(0);opacity:1;}
.activity-area .inner>dl>dd ul li .txt {padding:0 5.8%;text-align:center;background:#EAE9E4;}
.activity-area .inner>dl>dd ul li .txt h3 {padding:5.2% 0 3.5% 0;font-size:1.8rem;line-height:2.2rem;font-weight:800;vertical-align:bottom;}
.activity-area .inner>dl>dd ul li .txt .date {position:relative;border-top:1px solid #797979;border-bottom:1px solid #797979;}
.activity-area .inner>dl>dd ul li .txt .date>div {position:relative;display:inline-block;width:49%;padding:1.7391% 0;text-align:center;font-size:1.2rem;font-weight:500;font-family:'ProximaNovaR';letter-spacing:0;}
.activity-area .inner>dl>dd ul li.yo .txt .date:before {content:"";display:block;width:1px;height:10px;position:absolute;left:50%;top:50%;transform:translateY(-50%);background:#000;}
.activity-area .inner>dl>dd ul li .txt .teacher {padding:6% 0;}
.activity-area .inner>dl>dd ul li .txt .teacher:after {content:"";display:block;clear:both;}
.activity-area .inner>dl>dd ul li .txt .teacher>div {float:left;}
.activity-area .inner>dl>dd ul li .txt .teacher .profile {width:8.5rem;height:8.5rem;border-radius:100%;margin-right:2.8%;overflow:hidden;}
.activity-area .inner>dl>dd ul li .txt .teacher .info {position:relative;height:8.5rem;width:calc(97.2% - 8.5rem);padding:0;font-size:1.2rem;line-height:1.6rem;text-align:left;}
.activity-area .inner>dl>dd ul li .txt .teacher .info .info-inner {position:absolute;top:50%;left:0;transform:translateY(-50%);width:100%;}
.activity-area .inner>dl>dd ul li .txt .teacher .info .info-inner div {font-size:1.4rem;line-height:1.8rem;font-weight:bold;margin-bottom:2.3%;}
.activity-area .inner>dl.feel>dd {position:relative;}
.activity-area .inner>dl.feel .swiper-ex {position:relative;padding-bottom:9.5%;overflow:visible;}
.activity-area .inner>dl.feel .swiper-ex .swiper-slide dl {margin-top:0;}
.activity-area .inner>dl.feel .swiper-ex .swiper-slide dl dt {font-size:1.6rem;font-weight:700;padding-top:5.5%;color:#002FA2;}
.activity-area .inner>dl.feel .swiper-ex .swiper-slide dl dd {padding:2.5% 0 0 0;font-size:1.3rem;line-height:1.8rem;}
.activity-area .inner>dl.feel .swiper-pagination {top:auto;bottom:0;height:3px;border-radius:3px;}
.activity-area .inner>dl.feel .swiper-pagination.swiper-pagination-progressbar .swiper-pagination-progressbar-fill {height:3px;border-radius:3px;background:#002FA2;}
.feel .swiper-button-next {width:55px;height:55px;right:-90px;background:url(../images/arr_next.svg) 0 0 no-repeat;}
.feel .swiper-button-prev {width:55px;height:55px;left:-90px;background:url(../images/arr_prev.svg) 0 0 no-repeat;}
.lec-wrap {position:relative;}
.lec-wrap img {display:block;width:100%;}
.lec-wrap>div {width:100%;text-align:center;padding:8.6666% 0;background:#EAE9E4;}
.lec-wrap .date {font-size:1rem;line-height:1.5rem;font-weight:500;font-family:"ProximaNovaR";letter-spacing:0;opacity:0;transform:translateY(30px);transition:all 0.5s ease-in-out;}
.lec-wrap .title {font-size:1.8rem;font-weight:700;line-height:2.2rem;font-weight:700;padding:2.666% 0 4.4% 0;opacity:0;transform:translateY(30px);transition:all 0.5s 0.2s ease-in-out;}
.lec-wrap span {display:block;font-size:1.3rem;color:#008083;font-weight:700;line-height:1.6rem;opacity:0;transform:translateY(30px);transition:all 0.5s 0.4s ease-in-out;}
.lec-wrap span+div {font-size:1.2rem;line-height:1.7rem;font-weight:500;margin-top:0.5rem;opacity:0;transform:translateY(30px);transition:all 0.5s 0.6s ease-in-out;}
.lec-wrap .lec-info {opacity:0;transform:translateY(30px);transition:all 0.5s 0.8s ease-in-out;}
.lec-wrap .lec-info dt {font-size:1.1rem;line-height:1.6rem;font-weight:700;color:#000;margin-top:3.7333%;}
.lec-wrap .lec-info dd {font-size:1rem;line-height:1.6rem;font-weight:500;color:#797979;}
.live.active .lec-wrap .date,
.live.active .lec-wrap .title,
.live.active .lec-wrap span,
.live.active .lec-wrap span+div,
.live.active .lec-wrap .lec-info {transform:translateY(0);opacity:1;}
.live.active .lec-wrap .lec-info dd ul li {opacity:1;transform:translateY(0);margin:0;}
.art-banner {position:relative;margin-top:19%;}
.art-banner .cont {width:100%;text-align:center;color:#fff;top:13%}
.art-banner .cont h3 {color:#C8005D;}
.art-banner .cont p {margin-top:0.9rem;}
.art-banner .cont p img {width:36%;margin:0.5rem auto 0 auto;}
.gift-banner .cont {left:7%;top:21%;}
.gift-banner .cont div {font-size:1.1rem;line-height:1.4rem;opacity:0.5;margin-top:0.4rem;}
.event {background:#EAE9E4;padding:14.5% 0;text-align:center;}
.event h3 {font-size:2.7rem;line-height:2.7rem;font-weight:800;opacity:0;transform:translateY(30px);transition:all 0.5s ease-in-out;}
.event h3 .nova {font-family:"ProximaNova";font-size:1.7rem;line-height:2.1rem;margin-bottom:1%;}
.event h3 .nova>span {color:#FF5702;}
.event h3+div {font-size:1.3rem;line-height:1.8rem;font-weight:normal;color:#464646;margin:1.6% 0 13% 0;opacity:0;transform:translateY(30px);transition:all 0.5s 0.2s ease-in-out;}
.event.active h3,
.event.active h3+div {opacity:1;transform:translateY(0);}
.gift-list li {position:relative;display:inline-block;width:40%;margin:0 4%;line-height:1.6rem;vertical-align:top;opacity:0;transform:translateY(30px);}
.gift-list li:first-child {transition:all 0.5s 0.3s ease-in-out;}
.gift-list li:nth-child(2) {transition:all 0.5s 0.4s ease-in-out;}
.gift-list li:nth-child(3) {transition:all 0.5s 0.5s ease-in-out;}
.gift-list li:nth-child(4) {transition:all 0.5s 0.6s ease-in-out;}
.gift-list li:nth-child(5) {transition:all 0.5s 0.7s ease-in-out;}
.gift-list li:nth-child(6) {transition:all 0.5s 0.8s ease-in-out;}
.active .gift-list li {opacity:1;transform:translateY(0);}
.gift-list li .title {font-size:1.2rem;color:#797979;font-weight:500;padding:6% 0 15% 0;}
.gift-list li .title div {font-size:1.2rem;color:#000;font-weight:700;margin-bottom:1%;}
.gift-list li .flag {width:4rem;height:4rem;line-height:4rem;text-align:center;background:#FF5702;border-radius:100%;position:absolute;top:-5px;right:-5px;font-size:1rem;font-weight:700;color:#fff;}
.confidence {padding:23.5% 0 0 0;}
.confidence .inner {}
.confidence .title-area {text-align:center;}
.confidence .title-area h3 {font-size:3.2rem;line-height:0;font-weight:700;font-family:"ProximaNova";}
.confidence .title-area h3 img {width:46.1333%;display:none;}
.confidence .title-area h3+div {font-weight:800;font-size:2.7rem;line-height:3rem;margin:0 0 6% 0;}
.confidence .title-area h3+div .nova {font-family:"ProximaNova";font-size:1.7rem;line-height:2.1rem;margin-bottom:1%;}
.confidence .title-area h3+div .nova span {color:#FF5702;}
.confidence .date {position:relative;border-top:1px solid #797979;border-bottom:1px solid #797979;margin:0;}
.confidence .date:before {content:"";display:block;width:1px;height:10px;position:absolute;left:50%;top:50%;transform:translateY(-50%);background:#000;}
.confidence .date>dl {position:relative;display:inline-block;width:49%;padding:1.7391% 0;text-align:center;font-size:1.2rem;font-family:'AppleSDGothicNeo';vertical-align:text-top;}
.confidence .date>dl dt {display:inline-block;font-weight:600;padding-right:20px;}
.confidence .date>dl dd {display:inline-block;}
.confidence .date>dl dd span {/*font-family:'ProximaNovaR';letter-spacing:0;*/}
.confidence .info {width:100%;margin:0 auto 6% auto;text-align:center;}
.confidence .info>dt {text-align:center;position:relative;margin:7.5% auto;}
.confidence .info>dt:before {content:"";display:block;width:100%;height:1px;background:#A8A8A8;position:absolute;top:50%;left:0;z-index:1;}
.confidence .info>dt div {position:relative;z-index:2;display:inline-block;padding:0 3%;background:#fff;}
.confidence .info>dt span {display:inline-block;width:7rem;height:2.4rem;line-height:2.4rem;text-align:center;color:#fff;background:#000;font-size:1.1rem;font-weight:700;border-radius:2.4rem;}
.confidence .info>dd {border-radius:25px 0 25px 0;background:#EAE9E4;padding:10.5% 15px;}
.confidence .info>dd .steps {}
.confidence .info>dd .steps .step-box {padding-left:9.5rem;margin-top:7.7%;}
.confidence .info>dd .steps .step-box:first-child {margin-top:0;}
.confidence .info>dd .steps .step-box.sns {background:url(../images/icon_con_1.png) 15px center no-repeat;background-size:5.4rem;}
.confidence .info>dd .steps .step-box.apply {background:url(../images/icon_con_2.png) 15px center no-repeat;background-size:5.4rem;}
.confidence .info>dd .steps .step-box.cer {background:url(../images/icon_con_3.png) 15px center no-repeat;background-size:5.4rem;padding:1rem 0 1rem 9.5rem;}
.confidence .info>dd .steps .step-box dl {position:relative;padding-left:6.23%;text-align:left;}
.confidence .info>dd .steps .step-box dl:before {content:"";display:block;width:1px;height:52px;background:#464646;opacity:0.5;position:absolute;top:50%;left:0;transform:translateY(-50%);}
.confidence .info>dd .steps .step-box dl dt {height:2rem;line-height:2rem;font-size:1.3rem;font-weight:700;}
.confidence .info>dd .steps .step-box dl dt .num {display:inline-block;width:2rem;height:2rem;line-height:2.2rem;background:#000;text-align:center;border-radius:2rem;margin-right:6px;font-size:1.1rem;color:#fff;font-weight:400;font-family:'AppleSDGothicNeo';}
.confidence .info>dd .steps .step-box dl dd {padding:1.25% 0 0 0;font-size:1.1rem;line-height:1.6rem;color:#464646;font-family:'AppleSDGothicNeo';}
.confidence .info>dd .steps .step-box dl dd .noti {position:relative;padding-left:1.2rem;color:#FF5702;font-size:1rem;line-height:1.4rem;font-weight:700;}
.confidence .info>dd .steps .step-box dl dd .noti:before {content:"※";display:block;position:absolute;top:0;left:0;}
.confidence .info>dd .steps .step-box dl dd img {height:0.8rem;vertical-align:baseline;}
.confidence .info>dd .steps .info-sns {margin-top:40px;}
.confidence .info>dd .steps .info-sns>div {border-radius:8px;background:#fff;}
.confidence .info>dd .steps .info-sns>div+div {margin-top:20px;}
.confidence .info>dd .steps .info-sns .info-txt {padding:5% 0;}
.confidence .info>dd .steps .info-sns .info-txt>p {font-size:1.1rem;line-height:1.6rem;font-weight:500;margin-bottom:7px;}
.confidence .info>dd .steps .info-sns .info-txt>div {line-height:2rem;}
.confidence .info>dd .steps .info-sns .info-txt>div span {display:inline-block;width:2.6rem;height:2rem;background:#464646;color:#fff;font-size:0.9rem;font-weight:700;font-family:'AppleSDGothicNeo';border-radius:2rem;margin-right:7px;}
.confidence .info>dd .steps .info-sns .info-txt>div p {display:inline-block;font-size:0.9rem;opacity:0.5;}
.confidence .info>dd .info-hashtag {text-align:left;padding:5px 5px 5px 0;border:1px solid #ccc;border-radius:8px;}
.confidence .info>dd .info-hashtag>div {display:inline-block;width:calc(80% - 50px);padding:5px 5px 0 5px;max-width:250px;}
.confidence .info>dd .info-hashtag span {display:inline-block;padding:0 9px;height:2.2rem;line-height:2.2rem;background:#E3E3E3;font-family:'AppleSDGothicNeo';margin:0 0 5px 5px;border-radius:2rem;font-size:0.9rem;}
.confidence .info>dd .info-hashtag .btn-tag {display:inline-block;width:20%;height:calc(4.4rem + 15px);line-height:calc(4.4rem + 15px);background:#000;color:#fff;border-radius:8px;font-size:1.1rem;float:right;text-align:center;}
.confidence .btn-act {}
.confidence .title-area {opacity:0;transform:translateY(30px);transition:all 0.5s ease-in-out;}
.confidence .info {opacity:0;transform:translateY(30px);transition:all 0.5s 0.2s ease-in-out;}
.confidence .btn-area-center {opacity:0;transform:translateY(30px);transition:all 0.5s 0.4s ease-in-out;}
.confidence.active .title-area,
.confidence.active .btn-area-center,
.confidence.active .info {opacity:1;transform:translateY(0);}
.certify {padding-bottom:0;background:#EAE9E4;}
.certify .title-area h3 {font-size:2.7rem;line-height:2.7rem;font-weight:800;font-family:'AppleSDGothicNeo';}
.certify .title-area h3 div {font-size:1.7rem;line-height:2.1rem;margin-bottom:1%;}
.certify .title-area h3+div {margin:6% 0 7.5% 0;font-weight:300;font-size:2rem;line-height:2.2rem;}
.certify .info {}
.certify .info>dt div {background:#EAE9E4;}
.certify .info>dd {background:#fff;padding:10% 15px 12% 15px;}
.certify .info>dd .event-share {}
.certify .info>dd .event-share .share {padding:5% 0 0 0;}
.certify .info>dd .event-share .share h4 {font-size:1.3rem;line-height:2rem;font-weight:700;text-align:center;}
.certify .info>dd .event-share .share h4+div {font-size:1.1rem;line-height:1.6rem;color:#464646;margin:0.8rem;text-align:center;}
.certify .info>dd .event-share .share h4+div+div {position:relative;color:#FF5702;font-size:1rem;line-height:1.4rem;font-weight:700;margin-bottom:2.5rem;}
.certify .info>dd .event-share .invitation {text-align:center;}
.certify .info>dd .event-share .invitation img {width:48%;box-shadow: 0px 5px 12px 2px rgba(0,0,0,0.3);-webkit-box-shadow: 0px 5px 12px 2px rgba(0,0,0,0.3);-moz-box-shadow: 0px 5px 12px 2px rgba(0,0,0,0.3);}
.certify .info>dd .event-share .invitation p {font-size:1.2rem;color:#797979;margin:4% 0 3% 0;}
.certify .info>dd .event-share .invitation .btn-down {display:block;width:28%;height:2rem;text-align:center;margin:10px auto 0 auto;border:2px solid #000;border-radius:4px;font-size:0.8rem;font-weight:700;line-height:2rem;}
.certify .info>dd .event-share .invitation .btn-down:after {content:"";display:inline-block;width:1rem;height:1rem;background:url(../images/icon_down.svg) 0 0 no-repeat;background-size:cover;vertical-align:middle;margin-left:5px;}
.certify .info>dd .event-share .share .info-hashtag {position:relative;}
.certify .info>dd .event-share .share .info-hashtag>div {width:calc(80% - 50px);padding:5px 5px 0 5px;max-width:none !important;}
.certify .info>dd .event-share .share .info-hashtag .btn-tag {float:right;width:20%;height:calc(4.4rem + 15px);line-height:calc(4.4rem + 15px);font-size:1.1rem;font-weight:700;border-radius:8px;}
.certify .info.gift-info>dd {padding:8px 0 0 0;background:none;}
.certify .ev-notice {padding:6% 0 12% 0;background:#fff;text-align:left;}
.certify .ev-notice .inner>dl {background:#eee;border-radius:10px;overflow:hidden;}
.certify .ev-notice .inner>dl>dt {position:relative;padding:5% 1.5rem;background:#eee;font-size:1.4rem;line-height:2.2rem;font-weight:800;}
.certify .ev-notice .inner>dl>dt:after {content:"";display:block;width:2.5rem;height:2.5rem;background:url(../images/arr_notice.svg) center center no-repeat;background-size:2.3rem;position:absolute;top:50%;right:20px;transform:translateY(-50%);}
.certify .ev-notice .inner>dl>dt.active:after {transform:translateY(-50%) rotate(180deg);}
.certify .ev-notice .inner>dl>dt:hover {cursor:pointer;}
.certify .ev-notice .inner>dl>dd {display:none;margin-top:0;padding:0 1.5rem 6% 1.5rem;font-size:1.1rem;line-height:1.7rem;color:#464646;}
.certify .ev-notice .inner>dl>dt.active+dd {display:block;}
.certify .ev-notice .inner>dl>dd dt {font-weight:700;margin-top:1.6rem;}
.certify .ev-notice .inner>dl>dd dt:first-child {margin-top:0;}
.certify .ev-notice .inner>dl>dd dd {padding-bottom:5%;}
.certify .ev-notice .inner>dl>dd dd ul li {position:relative;padding-left:0.6rem;}
.certify .ev-notice .inner>dl>dd dd ul li:before {content:"";display:block;width:0.2rem;height:0.2rem;background:#464646;position:absolute;top:0.7rem;left:0;}
.certify .gift-list li:first-child {transition:all 0.5s 0.6s ease-in-out;}
.certify .gift-list li:nth-child(2) {transition:all 0.5s 0.7s ease-in-out;}
/* 공통 레이어팝업 */
.dim {position:fixed;top:0;left:0;right:0;bottom:0;background:rgba(0,0,0,0.5);display:none;}
.is-opened .dim {display:block;z-index:1099;}
.nav-opened .nav-dim {display:block !important;}
.is-opened.over .dim {z-index:1101;}
.is-opened.over2 .dim {z-index:1103;}
html.is-opened.open-login:not(.over) .dim {display:none;}
html.is-opened.open-pc-layer:not(.over) .dim {display:none;}
.layerpop {display:none;position:fixed;background:#fff;z-index:1100;overflow:hidden;width:93%;top:50%;left:50%;transform:translate(-50%,-50%);max-width:700px;}
.layerpop.is-opened {display:block;}
.layerpop .layer-close {display:block;width:2rem;height:2rem;background:url(../images/btn_pop_close.svg) 0 0 no-repeat;background-size:2rem;position:absolute;top:1.2rem;right:1rem;}
.layerpop.layer-over {z-index:1102;}
.layerpop.layer-over2 {z-index:1104;}
.layerpop h3 {font-size:2.6rem;line-height:2.6rem;font-weight:700;text-align:center;}
.layerpop h3+p {font-size:1.2rem;line-height:1.8rem;color:#464646;text-align:center;margin-top:3%;}
.layerpop .layer-inner {padding:14% 0;}
.layerpop .layer-container {max-height:calc(90vh - 100px);padding:0 5.7%;box-sizing:border-box;overflow-y:auto;}
.layerpop.type-alert {width:90%;}
/* 자세히알아보기 */
.layer-about {}
.layer-about .layer-close {top:20px;}
.layer-about .layer-inner {padding:0;margin-bottom:-1px;}
.layer-about .layer-container {padding:0;}
.layer-about .layer-title {padding:5.7%;}
.layer-about .layer-title img {width:40%;vertical-align:middle;}
.layer-about .about-cont {padding-bottom:13%;}
.layer-about .about-cont h5 {padding:14% 0 10% 0;text-align:center;font-size:1.6rem;line-height:2rem;}
.layer-about .about-cont h5 div {font-size:2.2rem;line-height:2.2rem;margin-top:3%;font-weight:700;}
.layer-about .about-cont .video-wrap {position:relative;padding-top:49.64%;margin:0 5.7%;;}
.layer-about .about-cont .video-wrap iframe {position:absolute;top:0;left:0;right:0;bottom:0;width:100%;height:100%;}
.layer-about .cont-txt {padding:13.57% 10.7%;background:url(../images/bg_about.jpg) center 0 no-repeat;background-size:cover;}
.layer-about .cont-txt .title img {width:45.28%;}
.layer-about .cont-txt dl {padding:10% 0 0 0;color:#C9C1B4;}
.layer-about .cont-txt dl dt {text-transform:uppercase;font-size:1.4rem;line-height:2rem;}
.layer-about .cont-txt dl dt div {display:inline;}
.layer-about .cont-txt dl dd {padding:1.1% 0 0 0;}
.layer-about .cont-txt dl dd p {font-size:1.2rem;line-height:1.7rem;margin-top:2.4%;font-weight: 200;}
.layer-about .cont-txt dl dd p:first-child {font-weight:bold;}
/* 액티비티 신청 */
.layerpop .apply-form dt {font-size:1rem;line-height:1.5rem;font-weight:700;margin-top:1rem;margin-bottom:0.5rem;}
.layerpop .apply-form dd {}
.layerpop .apply-form dd .ip100 {width:100%;display:block;width:100%;height:4rem;padding:0 1rem;box-sizing:border-box;border-radius:3px;border:2px solid #bebebe;font-size:1.3rem;}
.layerpop .apply-form dd .wbtn {position:relative;}
.layerpop .apply-form dd .wbtn .ip100 {width:calc(100% - 95px);}
.layerpop .apply-form dd .wbtn a {position:absolute;top:0;right:0;width:90px;height:40px;border-radius:3px;line-height:40px;font-size:1.1rem;font-weight:700;color:#fff;text-align:center;}
.layerpop .apply-form dd .wbtn a.btn-type2 {background:#020202;}
.layerpop .apply-form dd .wbtn a.btn-type3 {background:#FF5701;}
.layerpop .apply-form.ready dt:first-child,
.layerpop .apply-form.ready dt:nth-child(3),
.layerpop .apply-form.ready dd:nth-child(2) .ip100,
.layerpop .apply-form.ready dd:nth-child(4) .ip100 {opacity:0.4;}
.layer-apply .layer-inner {}
.layer-apply .layer-container {max-height:calc(80vh - 150px);}
.layer-apply h5 {text-align:center;position:relative;margin:28px 0 -13px 0;}
.layer-apply h5:before {content:"";display:block;width:100%;height:1px;background:#A8A8A8;position:absolute;top:50%;left:0;z-index:1;}
.layer-apply h5 div {position:relative;z-index:2;display:inline-block;padding:0 15px;background:#fff;}
.layer-apply h5 span {display:inline-block;width:82px;height:25px;line-height:25px;text-align:center;color:#fff;background:#000;font-size:1.1rem;font-weight:700;border-radius:25px;}
.layer-apply .chk-time:after {content:"";display:block;clear:both;}
.layer-apply .chk-time li {position:relative;float:left;width:calc(33.3333% - 6px);}
.layer-apply .chk-time li+li {margin-left:9px;}
.layer-apply .chk-time li input {position:absolute;top:0;left:0;width:1px;height:1px;opacity:0;}
.layer-apply .chk-time li label {display:block;box-sizing:border-box;border:2px solid #BEBEBE;border-radius:3px;color:#ababab;text-align:center;font-size:1.3rem;line-height:36px;}
.layer-apply .chk-time li input:checked+label {border:2px solid #FF5701;color:#FF5701}
.layerpop .agree-area {padding:4.2% 0 11% 0;color:#808080;font-size:1.1rem;line-height:22px;}
.layerpop .agree-area div {position:relative;display:inline-block;}
.layerpop .agree-area input {position:absolute;top:0;left:0;width:1px;height:1px;opacity:0;}
.layerpop .agree-area label {position:relative;padding-left:26px;display:inline-block;font-size:1}
.layerpop .agree-area label:before {content:"";display:block;width:22px;height:22px;position:absolute;top:-1px;left:0;box-sizing:border-box;background:url(../images/icon_chk_off.svg) 0 center no-repeat;background-size:22px;}
.layerpop .agree-area input:checked+label:before {background:url(../images/icon_chk_on.svg) 0 center no-repeat;background-size:22px;}
.layerpop .agree-area .btn-layer {float:right;border-bottom:1px solid #808080;line-height:1.4rem;margin-top:3px;}
/* 개인정보 동의*/
.layerpop.type-term h3 {font-size:2rem;padding-bottom:3%;}
.layerpop.type-term .term-cont {}
.layerpop.type-term .term-cont dt {padding:2.8% 0 1% 0;font-size:1.2rem;font-weight:700;}
.layerpop.type-term .term-cont dd ul li {position:relative;padding-left:12px;font-size:1.2rem;line-height:1.6rem;color:#464646;}
.layerpop.type-term .term-cont dd ul li:before {content:"";display:block;width:2px;height:2px;background:#464646;border-radius:2px;position:absolute;top:6px;left:5px;}
.layerpop.type-term .term-cont+p {font-size:1rem;font-weight:700;padding:5.4% 0 9% 0;line-height:1.6rem;}
/* 완료 layer alert */
.layerpop.type-alert .layer-inner {padding:14% 0 10% 0;text-align:center;}
.layerpop.type-alert h3 {font-size:2rem;padding-bottom:3%;}
.layerpop.type-alert .alert-msg {font-size:1.4rem;line-height:2.2rem;color:#464646;margin-bottom:4%;}

@media (min-width:590px) {
	.confidence .info>dd .info-hashtag>div {max-width:450px;}
}
@media (min-width:520px) {
	html  {font-size:20px;}
	.confidence .info>dd .info-hashtag>div {max-width:none;width:calc(80% - 30px);}
}
@media (max-width:545px) {
	.certify .info>dd .event-share .share .info-hashtag>div {width:calc(80% - 10px);}
}
@media (max-width:520px) {
	.certify .info>dd .info-hashtag>div {width:calc(80% - 10px);}
}
@media (max-width:520px) {
	.confidence .info>dd .info-hashtag>div {width:calc(80% - 10px);}
	.certify .info>dd .info-hashtag>div {width:calc(80% - 50px);}
}
@media (max-width:350px) {
	.activity-area .inner>dl>dt {font-size:8.5vw;}
}
@media (min-width:520px) and (max-width:700px) {
	.activity-area .inner>dl>dt {font-size:8.555vw;}
}
/* 행사종료 */
.wrap.finished .ev-banner2 .inner .cont p:first-child {margin-top:0;}
.wrap.finished .event .gift-list li img {filter:grayscale(1);filter:url(filters.svg#grayscale);filter: gray;-webkit-filter:grayscale(1);}
.wrap.finished .event .gift-list li .flag {background:#797979;}
#layer-finished.layerpop.type-alert h3 {}
#layer-finished.layerpop.type-alert h3 div {font-size:1.5rem;}
#layer-finished.layerpop.type-alert h3 span {color:#FF5702;}
#layer-finished.layerpop.type-alert .alert-msg {font-weight:500;line-height:2rem;}
#layer-finished.layerpop.type-alert .alert-msg .noti {font-weight:bold;color:#FF5702;margin-top:3%;}